{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}
<section{{ attributes }}>
    {%- if title -%}
    <div class="stepper__header">
        <div class="stepper__header--title">{{ title }}
            <i class="stepper__icon" aria-hidden="true"></i>
            <a class="stepper__header--button" href="#">({{ 'Edit'|trans  }})</a>
        </div>
        <strong class="stepper__header--skipped visually-hidden" aria-hidden="true">{{ 'Skipped'|trans  }}</strong>
    </div>
    {%- endif -%}

    <div class="stepper__content">

        {% if errors %}
            <div class="form-item--error-message">
                <strong>{{ errors }}</strong>
            </div>
        {% endif %}
        {%- if children -%}
            {{ children }}
        {%- endif -%}
        {%- if value -%}
            {{ value }}
        {%- endif -%}

        {%- if (button_text or skip_text) -%}
        <div class="stepper__actions form-actions">
            {%- if button_text -%}<a class="button button--primary">{{ button_text }}</a>{%- endif -%}
            {%- if skip_text -%}<a class="button button--danger">{{ skip_text }}</a>{%- endif -%}
        </div>
        {%- endif -%}

    </div>
</section>

